SUPABASE_URL=https://tbrmanzgnqbpmwkvczry.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRicm1hbnpnbnFicG13a3ZjenJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQxMzQwNzYsImV4cCI6MjA2OTcxMDA3Nn0.qxj4G5rPX1GO7jy-cF3DfohBzke_e6INkmOcJWqXod4
OPENROUTER_API_KEY=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